/* #323946 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  outline: none;
}
header {
  height: 80px;
  background-color: #000b0d;
  color: #dddddd;
  width: 100%;
  position: fixed;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 9%;
}
.logo img {
  height: 50px;
}
.nav-items ul li {
  display: inline-block;
  margin-left: 1rem;
}
.nav-items ul li a {
  color: #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
#hero {
  background: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 12rem 9%;
  height: 100vh;
  width: 100%;
  color: #dddddd;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.hero-text h1 {
  font-size: 2.8rem;
  line-height: 1.6;
}
.hero-text span {
  font-size: 3.5rem;
}
.hero-text ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem auto;
}
.hero-text ul li {
  list-style: none;
  font-weight: bold;
}
.btn {
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  border: 2px solid #1f242d;
  border-radius: 10px;
  background: transparent;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #000b0d;
  transform: scale(1.1);
}
.btn a {
  text-decoration: none;
  color: #dddddd;
}
#hero-1 {
  height: 80vh;
  background-color: #dddddd;
  color: #000b0d;
  padding: 0 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-1-h1 {
  display: flex;
  font-size: 1.5rem;
}
.hero-1-h1 :nth-child(1) {
  font-size: 4.5rem;
  margin-right: 1rem;
}
.hero-1-text ul {
  margin-top: 2rem;
}
.hero-1-text ul li {
  font-size: 2rem;
  list-style: none;
  font-weight: 300;
}
.hero-1-form form input {
  display: block;
  width: 500px;
  height: 2rem;
  background: transparent;
  margin-bottom: 1rem;
  border: 1px solid #000b0d;
  border-radius: 10px;
  padding: 1rem;
}
.hero-1-form form textarea {
  resize: none;
  background: transparent;
  width: 500px;
  border: 1px solid #000b0d;
  border-radius: 10px;
  padding: 1rem;
}
.hero-1-form form input::placeholder,
.hero-1-form form textarea::placeholder {
  color: #000b0d;
  text-transform: capitalize;
}
.hero-1-form h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
#hero-2 {
  background-color: #000b0d;
  color: #dddddd;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.hero-2-card h1 {
  font-size: 2rem;
}
.hero-2-card h2 {
  font-size: 1.5rem;
}
#hero-3 {
  background-color: #dddddd;
  color: #000b0d;
  padding: 4rem 9%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#hero-3 h1 {
  font-size: 2.5rem;
  line-height: 1.7;
}
#hero-3 button {
  margin-top: 1rem;
  justify-self: center;
  width: 170px;
}
#hero-3 button a:hover {
  background: #000b0d;
  color: #dddddd;
}
#hero-3 button a {
  color: #000b0d;
  font-weight: bold;
  text-decoration: none;
}
#hero-4 {
  background-color: #000b0d;
  color: #dddddd;
  padding: 4rem 9%;
}
.hero-4-cards {
  display: inline-block;
}
#hero-4 h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.hero-4-card {
  width: 300px;
  text-align: center;
}
.hero-4-card img {
  width: 200px;
  border-radius: 5px;
  height: 300px;
}
.hero-4-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: bold;
}
#hero-5 {
  background-color: #dddddd;
  color: #000b0d;
  padding: 6rem 9%;
}
#hero-5 h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.hero-5-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero-5-img img {
  height: 450px;
  width: 350px;
  border-radius: 10px;
}
#hero-6 {
  background-color: #000b0d;
  color: #dddddd;
  padding: 4rem 9%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#hero-6 h1 {
  font-size: 2rem;
  line-height: 1.7;
}
footer {
  background: #000b0d;
  font-size: 0.8rem;
  color: #dddddd;
  padding: 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul li {
  display: inline-block;
  margin-right: 1rem;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #dddddd;
}
@media (max-width: 1200px) {
  nav,
  #hero,
  #hero-1,
  #hero-2,
  #hero-3,
  #hero-4,
  #hero-5,
  #hero-6,
  footer {
    padding-left: 4%;
    padding-right: 4%;
  }
  .hero-1-h1 {
    display: flex;
    font-size: 1rem;
  }
  .hero-1-h1 :nth-child(1) {
    font-size: 3.5rem;
    margin-right: 1rem;
  }
  .hero-5-img img {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 991px) {
  .nav-items {
    display: none;
  }
  .hero-1-text ul li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero-text h1 {
    margin-top: 1rem;
    font-size: 2.2rem;
    line-height: 1.8;
  }
  .hero-text span {
    font-size: 2.8rem;
  }
  #hero-1 {
    flex-direction: column;
    padding-top: 4rem;
    height: 130vh;
  }
  .hero-1-text ul {
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
}
